$grey: #4d4d4d;
$yellow: goldenrod;
$subtitle-size: 28px;

.navbar {
  height: 10vh;
  padding: 0px 20px;
  display:flex;
  align-items: center;
  .title {
    font-size: $subtitle-size;
  }
  .chip {
    height: 35px;
    font-size: 17px;
  }
  .navbar-section, .dropdown {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    a, chip-link {
      color: $grey;
      text-decoration: none;
    }
    a:hover, chip-link:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}
